In [21]:
score = 50

if score < 70:
    if score < 50:
        print('Fail')
    else:
        print('Merit')
else:
    print('Distinction')

Merit

In [34]:
import random
friends=["koustubh","shloka","bindu","trest"]
for index in range(5):
    if index==0:
        print(f"this is delected in one of the friends")
    else:
        print(f"this is in nt in friends index")

this is delected in one of the friends
this is in nt in friends index
this is in nt in friends index
this is in nt in friends index
this is in nt in friends index

In [19]:

friends=["koustubh","shloka","bindu","trest"]
n=len(friends)
for index in range(0,n):
    print(friends[index],index)

koustubh 0
shloka 1
bindu 2
trest 3

In [77]:
def test(a,b):
    try:
        n1=eval(input("enter the number"))
        if n1%2==0:
            print(f"{n1}it is even number")
        else:
            print(f"{n1}it is odd number")
    
    except Exception as e:
          print(e)
print(a+b)
test(10,20)

NameError: name 'a' is not defined

In [66]:
try:
    n1=eval(input("enter the number"))
    if n1%2==0:
        print(f"{n1} is an even")
    else:
        print(f"{n1} is an odd")
except Exception as e:
    print(e)

enter the number 20

20 is an even

In [81]:
def test1(a,b,c):
    n1=eval(input("enter the number"))
    try:
        if n1>10:
            add=(a+b+c)/3
            print(add)
        else:
            print(invalid)
    except Exception as e:
         print(e)
test1(10,20,90)

enter the number 20

40.0

In [85]:
def test1(a,b,c=10):
    n1=eval(input("enter the number"))
    try:
        if n1>10:
            add=(a+b+c)/3
            print(add)
        else:
            print(invalid)
    except Exception as e:
         print(e)
test1(10,20,90)

enter the number 20

40.0

In [ ]:
output=[